.monaco-breadcrumbs {
    display: none !important;
}

.breadcrumbs-below-tabs {
    display: none !important;
}

/* Scroll Bar */
.slider {
    position: absolute !important;
    left: auto !important;
    right: 1px !important;
    width: 1px !important;
    background: #888888 !important;
}

/* Tooltip box style */
.monaco-editor-hover, .monaco-hover {
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    padding: 10px !important;
    background-image: linear-gradient(#062E32 0pt, #031417 100%) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 10px !important;
    border: none !important;
}

/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 32px rgba(0,0,0,.45) !important;
    padding: 10px 10px 18px 10px !important;
    background-image: linear-gradient(#062E32 0pt, #031417 100%) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 10px !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 8px !important;
    border: none !important;
    background-color: #03141766 !important;
    font-size: 14px !important;
    margin-bottom: 16px !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03141726;
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

/* Command palette's input box placeholder */
.monaco-inputbox input::placeholder {
    color: #ffffff4d !important;
}